@mixin f($justify-content: center, $align-items: center) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin fcc($flex-direction: row, $flex-wrap: nowrap){
  @include f(center, center);

  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
}

@mixin fsc($flex-direction: row, $flex-wrap: nowrap) {
  @include f(center, center);

  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
}